In [2]:
import pandas as pd

# Display all rows
pd.set_option('display.max_rows', None)

# Or limit to a higher number (e.g., 1000)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', None)

In [3]:
%load_ext bigquery_magics

# What We Review
Your application will be reviewed by our engineers. The aspects of your code we will judge include:

- ability to get the technical environment set up
- sql coding knowledge
- data cleaning and abstraction
- understanding of time-dependent data
- machine learning knowledge and evaluation metrics

# "Will it snow tomorrow?" - The time traveler asked
The following dataset contains climate information from over 9000 stations accross the world. The overall goal of these subtasks will be to predict whether it will snow tomorrow 20 years ago. So if today is 1 April 2025 then the weather we want to forecast is for the 2 April 2005. You are supposed to solve the tasks using Big Query, which can be used in the Jupyter Notebook like it is shown in the following cell. For further information and how to use BigQuery in Jupyter Notebook refer to the Google Docs. 

The goal of this test is to test your coding knowledge in Python, BigQuery and Pandas as well as your understanding of Data Science. If you get stuck in the first part, you can use the replacement data provided in the second part.

In [4]:
%%bigquery
SELECT
*,
FROM `bigquery-public-data.samples.gsod`
LIMIT 20

Query is running:   0%|          |

Downloading:   0%|          |

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,num_mean_sealevel_pressure_samples,mean_station_pressure,num_mean_station_pressure_samples,mean_visibility,num_mean_visibility_samples,mean_wind_speed,num_mean_wind_speed_samples,max_sustained_wind_speed,max_gust_wind_speed,max_temperature,max_temperature_explicit,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado
0,39800,99999,1929,11,13,41.299999,4,37.000000,4,996.700012,4,NaN,<NA>,7.800000,4,17.000000,4,23.900000,NaN,39.000000,False,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
1,33110,99999,1929,12,16,45.500000,4,34.500000,4,1037.000000,4,NaN,<NA>,12.400000,4,8.900000,4,8.900000,NaN,39.900002,False,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
2,37770,99999,1929,12,8,48.000000,4,42.000000,4,994.500000,4,NaN,<NA>,2.200000,4,28.900000,4,43.900002,NaN,42.099998,False,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
3,38560,99999,1929,11,13,44.500000,4,36.200001,4,997.799988,4,NaN,<NA>,10.900000,4,9.000000,4,13.000000,NaN,41.000000,False,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
4,33110,99999,1929,12,15,46.700001,4,42.500000,4,1028.099976,4,NaN,<NA>,9.900000,4,17.000000,4,23.900000,NaN,46.000000,True,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
5,30910,99999,1929,10,6,50.000000,4,NaN,<NA>,983.200012,4,NaN,<NA>,2.200000,4,14.500000,4,23.900000,NaN,45.000000,True,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
6,33110,99999,1929,10,1,53.299999,4,46.299999,4,1010.000000,4,NaN,<NA>,17.700001,4,13.000000,4,23.900000,NaN,48.900002,False,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
7,39730,99999,1929,11,4,54.000000,4,48.700001,4,1019.299988,4,NaN,<NA>,6.800000,4,19.700001,4,23.900000,NaN,50.000000,False,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
8,38110,99999,1929,11,18,43.500000,4,39.500000,4,1016.299988,4,NaN,<NA>,5.300000,4,16.500000,4,36.900002,NaN,37.000000,False,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
9,39530,99999,1929,10,23,54.000000,4,50.000000,4,1001.099976,4,NaN,<NA>,7.900000,4,17.500000,4,29.900000,NaN,48.900002,False,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
10,33790,99999,1929,10,21,46.799999,4,42.000000,4,1007.099976,4,NaN,<NA>,7.500000,4,4.000000,4,8.900000,NaN,39.000000,False,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
11,38940,99999,1929,10,19,50.200001,4,44.000000,4,1008.400024,4,NaN,<NA>,20.200001,4,5.400000,4,8.900000,NaN,46.900002,False,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
12,34970,99999,1929,8,5,58.799999,5,48.799999,4,1008.900024,5,NaN,<NA>,4.700000,5,7.400000,5,8.900000,NaN,54.000000,False,NaN,<NA>,0.02,NaN,False,False,False,False,False,False
13,38040,99999,1929,11,19,54.000000,5,53.000000,4,996.299988,5,NaN,<NA>,2.000000,5,32.700001,5,36.900002,NaN,48.000000,False,NaN,<NA>,0.47,NaN,False,False,False,False,False,False
14,34970,99999,1929,10,13,53.200001,5,48.500000,4,1027.199951,5,NaN,<NA>,3.200000,5,4.600000,5,8.900000,NaN,48.900002,False,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
15,38040,99999,1929,12,27,47.200001,5,45.500000,4,1007.500000,5,NaN,<NA>,7.500000,5,20.400000,5,23.900000,NaN,43.000000,True,NaN,<NA>,0.12,NaN,False,False,False,False,False,False
16,32620,99999,1929,12,31,38.200001,5,34.299999,4,1006.500000,5,NaN,<NA>,5.200000,5,8.200000,5,8.900000,NaN,36.000000,False,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
17,30750,99999,1930,10,6,46.500000,4,45.500000,4,987.299988,4,NaN,<NA>,12.400000,4,9.000000,4,13.000000,NaN,42.099998,False,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
18,39800,99999,1930,7,27,57.500000,4,54.000000,4,1005.000000,4,NaN,<NA>,9.300000,4,7.200000,4,13.000000,NaN,53.099998,False,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
19,39730,99999,1930,2,14,43.500000,4,38.299999,4,1016.299988,4,NaN,<NA>,5.300000,4,11.000000,4,13.000000,NaN,37.000000,False,NaN,<NA>,NaN,NaN,False,False,False,False,False,False

## Part 1

### 1. Task
Change the date format to 'YYYY-MM-DD' and select the data from 2000 till 2005 for station numbers including and between 725300 and 726300 , and save it as a pandas dataframe. Note the maximum year available is 2010.

In [5]:
%%bigquery df_weather_filtered
SELECT
  *,
  FORMAT_DATE('%Y-%m-%d', DATE(year, month, day)) AS date
FROM `bigquery-public-data.samples.gsod`
WHERE
  year BETWEEN 2000 AND 2005
  AND station_number BETWEEN 725300 AND 726300

Query is running:   0%|          |

Downloading:   0%|          |

### 2. Task 
From here you want to work with the data from all stations 725300 to 725330 that have information from 2000 till 2005.

In [6]:
df_weather_filtered.head()

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,num_mean_sealevel_pressure_samples,mean_station_pressure,num_mean_station_pressure_samples,mean_visibility,num_mean_visibility_samples,mean_wind_speed,num_mean_wind_speed_samples,max_sustained_wind_speed,max_gust_wind_speed,max_temperature,max_temperature_explicit,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado,date
0,725835,99999,2000,11,7,35.599998,4,20.799999,4,NaN,<NA>,NaN,<NA>,32.5,4,7.5,4,9.9,NaN,28.400000,True,NaN,<NA>,NaN,NaN,False,False,False,False,False,False,2000-11-07
1,725826,99999,2000,6,9,44.200001,4,39.200001,4,NaN,<NA>,NaN,<NA>,25.0,4,4.5,4,8.0,NaN,39.000000,False,NaN,<NA>,NaN,NaN,False,False,False,False,False,False,2000-06-09
2,725494,99999,2000,4,11,49.099998,4,30.200001,4,NaN,<NA>,NaN,<NA>,10.0,4,10.0,4,14.0,16.9,48.200001,True,NaN,<NA>,0.00,NaN,False,False,False,False,False,False,2000-04-11
3,725868,99999,2000,1,1,20.700001,4,15.300000,4,NaN,<NA>,NaN,<NA>,17.5,4,2.5,4,9.9,NaN,8.100000,False,NaN,<NA>,0.00,3.9,False,False,False,False,False,False,2000-01-01
4,725868,99999,2000,8,30,59.500000,4,55.000000,4,NaN,<NA>,NaN,<NA>,4.3,4,1.5,4,6.0,NaN,55.400002,True,NaN,<NA>,0.08,NaN,False,False,False,False,False,False,2000-08-30

Start by checking which year received the most snowfall in our data.

In [7]:
# %%bigquery

# Extract the year from the formatted date column
df_weather_filtered['year'] = pd.to_datetime(df_weather_filtered['date']).dt.year

# Group by year and sum up the number of snowy days
snow_by_year = df_weather_filtered[df_weather_filtered['snow'] == True].groupby('year').size()

# Find the year with the maximum number of snow days
year_with_most_snow = snow_by_year.idxmax()
max_snow_days = snow_by_year.max()

print(f"Year with the most snow: {year_with_most_snow} ({max_snow_days} snowy days)")

Year with the most snow: 2005 (13623 snowy days)

In [10]:
# Reconfirming

In [9]:
%%bigquery snowiest_years
WITH snow_days AS (
  SELECT
    year,
    COUNTIF(snow = TRUE) AS n_snowy_days
  FROM
    `bigquery-public-data.samples.gsod`
  WHERE
    year BETWEEN 2000 AND 2005
    AND station_number BETWEEN 725300 AND 726300
  GROUP BY
    year
)

SELECT
  year,
  n_snowy_days
FROM
  snow_days
WHERE
  n_snowy_days = (
    SELECT MAX(n_snowy_days) FROM snow_days
)
ORDER BY year;

Query is running:   0%|          |

Downloading:   0%|          |

In [11]:
print("Snowiest years with the most snowy days:")
print(snowiest_years)

Snowiest years with the most snowy days:
   year  n_snowy_days
0  2005         13623

In [12]:
%%bigquery snowiest_by_depth
SELECT
  year,
  SUM(snow_depth) AS total_snow_depth_inches,
  COUNT(snow_depth) AS days_with_snow_depth
FROM
  `bigquery-public-data.samples.gsod`
WHERE
  year BETWEEN 2000 AND 2005
  AND station_number BETWEEN 725300 AND 726300
  AND snow_depth IS NOT NULL
GROUP BY
  year
ORDER BY
  total_snow_depth_inches DESC
LIMIT 1;

Query is running:   0%|          |

Downloading:   0%|          |

In [13]:
print("Snowiest year by total snow depth:")
print(snowiest_by_depth)

Snowiest year by total snow depth:
   year  total_snow_depth_inches  days_with_snow_depth
0  2001             13089.700075                  1849

Add an additional field that indicates the daily change in snow depth measured at every station. And identify the station and day for which the snow depth increased the most.

In [ ]:
%%bigquery df_weather_filtered
SELECT
  station_number,
  DATE(year, month, day) AS date,
  snow_depth
FROM `bigquery-public-data.samples.gsod`
WHERE year BETWEEN 2000 AND 2005
  AND station_number BETWEEN 725300 AND 726300
  AND snow_depth IS NOT NULL              -- no NULLs
  AND snow_depth NOT IN (999.9, 9999.9)   -- no sentinel junk
ORDER BY station_number, date             -- pre-sorted in SQL

Query is running:   0%|          |

Downloading:   0%|          |

In [15]:
df_weather_filtered['snow_depth_change'] = (
    df_weather_filtered
      .groupby('station_number')['snow_depth']
      .diff()
)

max_idx = df_weather_filtered['snow_depth_change'].idxmax()
max_jump = df_weather_filtered.loc[max_idx]

print("📈 Biggest one-day snow-depth increase")
print(f"  Station : {int(max_jump.station_number)}")
print(f"  Date    : {max_jump['date']}")
print(f"  ΔDepth  : {max_jump.snow_depth_change:.1f} inches")

📈 Biggest one-day snow-depth increase
  Station : 725780
  Date    : 2004-01-20
  ΔDepth  : 88.9 inches

⚠️ Notes:

Negative values = melting or measurement noise.

NaNs are handled naturally by diff() (e.g., first entry per group).

# Split Data

In [ ]:
import datetime as dt
import pandas as pd
from dateutil.relativedelta import relativedelta

# Copy to avoid modifying original
df = df_weather_filtered.copy()

# Ensure datetime format
df['date'] = pd.to_datetime(df['date'])

# Define today's date
today = dt.datetime.today()

# Calculate test date: 20 years ago + 1 day
test_date = today - relativedelta(years=20) + dt.timedelta(days=1)
test_date = test_date.replace(hour=0, minute=0, second=0, microsecond=0)

# Define evaluation set: 30 days before test date
eval_start = test_date - dt.timedelta(days=30)

# Split the data
df_test = df[df['date'] == test_date]
df_eval = df[(df['date'] >= eval_start) & (df['date'] < test_date)]
df_train = df[df['date'] < eval_start]

# Debug/inspect
print(f"Today:        {today.date()}")
print(f"Test date:    {test_date.date()}")
print(f"Train set:    {df_train.shape}")
print(f"Eval set:     {df_eval.shape}")
print(f"Test set:     {df_test.shape}")
print(f"Test date rows: {df_test['date'].unique()}")

Today:        2025-06-21
Test date:    2005-06-22
Train set:    (400838, 33)
Eval set:     (6217, 33)
Test set:     (206, 33)
Test date rows: <DatetimeArray>
['2005-06-22 00:00:00']
Length: 1, dtype: datetime64[ns]

## Pass it through Data Processing Pipeline

### This pipeline structure is created to avoid data leakage

In [9]:
from pipeline.transformers.median_imputer import MedianImputer
from pipeline.transformers.cyclical_encoder import MonthCyclicalEncoder
from pipeline.transformers.outlier import IQRGroupOutlierRemover
from pipeline.pipeline_runner import PipelineRunner
from pipeline.transformers.feature_dropper import FeatureDropper
from pipeline.transformers.binary_flag_imputer import BinaryFlagImputerEncoder
from pipeline.transformers.log_transform import LogTransformer
from pipeline.transformers.mean_imputer import MeanImputer
from pipeline.transformers.knn_imputer import KNNImputerWrapper
from pipeline.transformers.mode_imputer import ModeImputer
from pipeline.transformers.lag_feature_generator import LagFeatureGenerator
from pipeline.transformers.target_lag import TargetLagTransformer


def separate_X_y(df, target_col='snow_tomorrow', drop_cols=['date']):
    # Check that target exists
    assert target_col in df.columns, f"Target column '{target_col}' not found in DataFrame."
    
    # Drop target and any specified columns from features
    X = df.drop(columns=[target_col] + drop_cols, errors='ignore')
    y = df[target_col].astype(int)
    
    return X, y


# Define columns
median_cols = ['mean_temp', 'mean_dew_point', 'mean_sealevel_pressure', 'max_temperature']
numeric_cols = df_train.select_dtypes(include='number').columns.tolist()

# Columns to always drop from all splits
always_drop_cols = [
    'year', 
    # 'month', 
    'day', 'wban_number',
    'num_mean_temp_samples', 'num_mean_sealevel_pressure_samples',
    'num_mean_wind_speed_samples', 'max_gust_wind_speed',
    'max_sustained_wind_speed', 'mean_wind_speed', 
    'hail', 'tornado', 'thunder', 'fog', 'rain',

    # 'month_sin'
]

binary_flags = ['fog', 'rain', 'snow', 'hail', 'thunder', 'tornado','max_temperature_explicit']


cols_to_log_transform = [
    # 'mean_wind_speed',
    # 'max_sustained_wind_speed',
    'total_precipitation'
]

cols_to_knn_impute = ['total_precipitation', 'mean_visibility']

# Build pipeline
pipeline_steps = [
    ("cyclical_encoding", MonthCyclicalEncoder(), "all"),
    ("median_imputer", MedianImputer(median_cols), "all"),
    ("drop_features", FeatureDropper(always_drop=always_drop_cols), "all"),
    ("iqr_outliers", IQRGroupOutlierRemover(group_col="station_number"), "train"),
    # ("drop_features", FeatureDropper(always_drop=["station_number"]), "all"),
    ("mean_imputer", MeanImputer(cols=["mean_sealevel_pressure"]), "all"),
    ("mode_imputer", ModeImputer(cols=["max_temperature_explicit"]), "all"),
    ("knn_imputer", KNNImputerWrapper(cols_to_knn_impute, n_neighbors=5), "all"),
    ("log_transform", LogTransformer(cols=cols_to_log_transform), "train"),
    ("binary_flag_encode", BinaryFlagImputerEncoder(flag_cols=binary_flags), "all"),
    # ("lag_features", LagFeatureGenerator(col="snow", lags=[1, 2, 3, 7]), "all"),
    ("target_lag", TargetLagTransformer(
                    target_col='snow',
                    lag_target=True,
                    lag_features={'mean_temp': [1], 'mean_dew_point': [1]},
                    rolling_features={'total_precipitation': [3]},),
                    "all"
    ),
    ("median_imputer", MedianImputer(cols=['mean_temp_lag1', 'mean_dew_point_lag1','total_precipitation_roll3']), "all"),
]

# Initialize runner
pipeline = PipelineRunner(pipeline_steps)

# Apply
train_clean = pipeline.fit_transform(df_train)
val_clean = pipeline.transform(df_eval, split='val')
test_clean = pipeline.transform(df_test, split='test')


# Separate features and targets
X_train, y_train = separate_X_y(train_clean)
X_val, y_val = separate_X_y(val_clean)
X_test, y_test = separate_X_y(test_clean)

FeatureDropper fit complete. 34 total columns.
Dropping 14 always dropped columns: ['year', 'day', 'wban_number', 'num_mean_temp_samples', 'num_mean_sealevel_pressure_samples', 'num_mean_wind_speed_samples', 'max_gust_wind_speed', 'max_sustained_wind_speed', 'mean_wind_speed', 'hail', 'tornado', 'thunder', 'fog', 'rain']
Dropping 6 columns due to high missing values: ['mean_station_pressure', 'num_mean_station_pressure_samples', 'min_temperature', 'min_temperature_explicit', 'snow_depth', 'snow_depth_change']
Dropping 4 columns due to high correlation: ['num_mean_dew_point_samples', 'num_mean_visibility_samples', 'max_gust_wind_speed', 'max_temperature']
Dropping 10 columns from training: ['min_temperature_explicit', 'max_gust_wind_speed', 'min_temperature', 'snow_depth_change', 'num_mean_dew_point_samples', 'num_mean_station_pressure_samples', 'num_mean_visibility_samples', 'max_temperature', 'snow_depth', 'mean_station_pressure']

In [10]:
from utils import check_missing

# Run checks
check_missing(train_clean, "train_clean")
check_missing(val_clean, "val_clean")
check_missing(test_clean, "test_clean")

✅ train_clean: No missing values.
✅ val_clean: No missing values.
✅ test_clean: No missing values.

In [11]:
X_train.head()

,station_number,mean_temp,mean_dew_point,mean_sealevel_pressure,mean_visibility,max_temperature_explicit,total_precipitation,snow,month_sin,month_cos,mean_temp_lag1,mean_dew_point_lag1,total_precipitation_roll3
2,725494,49.099998,30.200001,1016.500000,10.0,1,0.0,0,0.866025,-5.000000e-01,51.599998,24.700001,0.0
3,725868,20.700001,15.300000,1016.500000,17.5,0,0.0,0,0.500000,8.660254e-01,58.500000,44.400002,0.0
5,725868,54.500000,38.799999,1016.500000,20.0,0,0.0,0,-0.500000,-8.660254e-01,72.500000,33.799999,0.0
6,725827,48.700001,27.100000,1011.299988,27.5,0,0.0,0,0.500000,-8.660254e-01,56.799999,37.400002,0.0
7,725848,57.700001,40.599998,1024.900024,20.0,1,0.0,0,1.000000,6.123234e-17,56.799999,50.000000,0.0

## Modeling Tabular Data with snow_tomorrow as the target column

In [12]:
import xgboost as xgb
import numpy as np
import pandas as pd
from sklearn.metrics import classification_report, roc_auc_score
from sklearn.model_selection import train_test_split


#--- Handle Class Imbalance ---

scale_pos_weight = (y_train == 0).sum() / (y_train == 1).sum()
print(f"scale_pos_weight: {scale_pos_weight:.2f}")

# --- Train XGBoost Model ---
model = xgb.XGBClassifier(
    scale_pos_weight=scale_pos_weight,
    eval_metric='auc',
    use_label_encoder=False,
    n_estimators=300,
    learning_rate=0.05,
    max_depth=4,
    random_state=42
)

model.fit(X_train, y_train)

# --- Evaluate on Validation Set ---
y_val_pred = model.predict(X_val)
y_val_proba = model.predict_proba(X_val)[:, 1]

print("\n✅ Validation Metrics:")
print(classification_report(y_val, y_val_pred, digits=3))
print(f"Validation AUC: {roc_auc_score(y_val, y_val_proba):.4f}")

# --- Evaluate on Test Set ---
y_test_pred = model.predict(X_test)
y_test_proba = model.predict_proba(X_test)[:, 1]

print("\n✅ Test Metrics:")
print(classification_report(y_test, y_test_pred, digits=3))
print(f"Test AUC: {roc_auc_score(y_test, y_test_proba):.4f}")

# --- Create Results DataFrame ---
df_test_results = pd.DataFrame({
    'date': test_clean['date'].values,
    'true_snow': y_test,
    'pred_snow': y_test_pred,
    'prob_snow': y_test_proba
})

scale_pos_weight: 9.19

h:\miniconda\envs\talent_sort\Lib\site-packages\xgboost\training.py:183: UserWarning: [09:07:47] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

✅ Validation Metrics:
              precision    recall  f1-score   support

           0      0.944     0.779     0.854      5428
           1      0.309     0.683     0.426       788

    accuracy                          0.767      6216
   macro avg      0.627     0.731     0.640      6216
weighted avg      0.864     0.767     0.799      6216

Validation AUC: 0.8204

✅ Test Metrics:
              precision    recall  f1-score   support

           0      0.884     0.734     0.802       177
           1      0.190     0.393     0.256        28

    accuracy                          0.688       205
   macro avg      0.537     0.564     0.529       205
weighted avg      0.789     0.688     0.728       205

Test AUC: 0.6254

In [13]:
# Count predictions
snow_counts = df_test_results['pred_snow'].value_counts()
num_snow = snow_counts.get(1, 0)
num_no_snow = snow_counts.get(0, 0)

# Count actual ground truth
true_counts = df_test_results['true_snow'].value_counts()
true_snow = true_counts.get(1, 0)
true_no_snow = true_counts.get(0, 0)

print(f"\n🌨️ Summary of test date predictions ({df_test_results['date'].iloc[0].date()}):")
print(f"→ Predicted snow at {num_snow} stations")
print(f"→ Predicted no snow at {num_no_snow} stations")

print(f"\n✅ Ground truth:")
print(f"→ Actually snowed at {true_snow} stations")
print(f"→ Actually no snow at {true_no_snow} stations")

# Final decision
if num_snow > num_no_snow:
    pred_majority = 1
    print("\n🧠 Final Forecast: In most stations, it **WILL SNOW** tomorrow ❄️")
elif num_snow < num_no_snow:
    pred_majority = 0
    print("\n🧠 Final Forecast: In most stations, it **WILL NOT SNOW** tomorrow 🌤️")
else:
    pred_majority = None
    print("\n🧠 Final Forecast: It’s a tie — equal predictions for snow and no snow 🤷")

# Was it correct?
if pred_majority is not None:
    true_majority = 1 if true_snow > true_no_snow else 0
    if pred_majority == true_majority:
        print("✅ Model correctly predicted the majority outcome across stations.")
    else:
        print("❌ Model's majority prediction does not match actual majority.")
else:
    print("🤔 Can't assess correctness due to tie.")

🌨️ Summary of test date predictions (2005-06-22):
→ Predicted snow at 58 stations
→ Predicted no snow at 147 stations

✅ Ground truth:
→ Actually snowed at 28 stations
→ Actually no snow at 177 stations

🧠 Final Forecast: In most stations, it **WILL NOT SNOW** tomorrow 🌤️
✅ Model correctly predicted the majority outcome across stations.